[Unit]
Description=Compile VocalFusionDriver if Kernel has Changed
After=network.target

[Service]
ExecStart=/opt/compile_vocalfusion.sh
User=ovos

[Install]
WantedBy=multi-user.target
