[Unit]
Description=Compile VocalFusionDriver if Kernel has Changed
After=network.target

[Service]
ExecStart=/opt/mark2-hardware.sh
User=root

[Install]
WantedBy=multi-user.target
