[Unit]
Description=Setup and enable Mark2 hardware
After=network.target

[Service]
ExecStart=/opt/mark2-hardware/mark2-hardware.sh
User=root
StandardOutput=tty 
StandardError=tty
TTYPath=/dev/console

[Install]
WantedBy=multi-user.target
