[Unit]
Description=Setup and enable Mark2 hardware
After=network.target

[Service]
ExecStart=/opt/mart2-hardware/mark2-hardware.sh
User=root

[Install]
WantedBy=multi-user.target
